{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Tursunboynign blogi</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <h1> <a href="{% url 'home' %}"> Tursunboyning blogi</a></h1>
    </header>

    {% if user.is_authenticated %}
        <p>Xush kelibsiz, {{ user.username }}!</p>

        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background:none; border:none; color:#c0392b; text-decoration:underline; cursor:pointer; padding:0; font-size: 1.17em; font-weight: bold; font-family: inherit;">
                chiqib ketish
            </button>
        </form>
    {% else %}
        <p>
            <a href="{% url 'login' %}">Saytga kirish</a>
            <a href="{% url 'signup' %}"> royhatdan otish</a>
        </p>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>

<footer>
    <h2> <a href="{% url 'post_new' %}"> Add post </a></h2>
</footer>

</body>
</html>